*{
    font-family: 'Work Sans', sans-serif;
}

.header {
    /* margin: 0px auto; */
    /* width: 100%; */
    background-color: rgba(255, 144, 14, 0.1);
    display: flex;
    flex-direction: column;
    /* margin: 0 auto;
    align-items: center;
     */
}

.header-title-nav {
    border: 1px solid red;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;

}

.header-title {
    width: 50%;
    /* height: 50%; */
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.nav-bar {

    /* width: 50%; */
}

.header-title-nav .nav-bar ul {
    border: 1px solid gray;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    display: flex;
    font-weight: 500;
    font-size: 18px;
    text-align: center;

}

.banner {

    border: 1px solid red;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

/*---------------- 
Banner title
-----------------*/
.banner-title {
    width: 862px;
    height: 225px;
    /* width: 70%; */
    /* display: flex;
    flex-direction: co; */
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
    font-weight: 700;
    color: #131313;
    margin-bottom: 174px;
    /* text-align: center; */
    /* width: 100%;
    height: 225px; */
    z-index: 3;
}

/*--------------------
banner paragraph
-------------------- */
.banner-info {
    width: 868px;
    height: 52px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #727272;
    margin-bottom: 32px;
}

/*--------------------
banner button 
-------------------*/
.primary-button {
    border: 0;
    width: 180px;
    height: 64px;
    background: #FF900E;
    border-radius: 8px;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    padding: 20px 25px;
    color: #FFFFFF;
    margin-bottom: 50px;
}

/*------------------- 
banner-image 
--------------------*/
.banner-image{
    /* width: 80%; */
    /* align-self: stretch; */
}